* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Arial, sans-serif;
  background-color: #7408bd;
  color: #333;
  height: auto;
  display: flex;
  flex-direction: center;
}
.textarea {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.hero {
  background-image: url("img.br.css.png");
  color: #fff;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: absolute;
  align-items: center;
  justify-content: center;
}
